# Ignore Node.js dependencies
backend/node_modules/
frontend/node_modules/

# Ignore environment variables
backend/.env
frontend/.env

# Ignore logs
logs/
*.log

# Ignore build output
frontend/dist/
backend/build/

# Ignore system & editor files
.DS_Store
.vscode/
.idea/
